{% if post is defined %}
    {{ form_start(
        form,
        {'attr': {'data-autosave-url': path('post_autosave', {'id': post.id})}}
    ) }}
{% else %}
    {{ form_start(form) }}
{% endif %}

    {{ form_widget(form) }}
<p id="autosave-alert">
    Your changes are saved automatically every 10 seconds.
</p>
<input
        type="submit"
        value="Save immediately"
        class="btn btn-default"
>
{{ form_end(form) }}
