<div class="list-group">
    {% for post in posts %}
        <a
                href="{{ path('post_show', {'slug': post.slug, 'username': post.owner.username}) }}"
                class="list-group-item"
        >
            {{ post.title }}
        </a>
    {% else %}
        <p>
            No posts yet.
        </p>
    {% endfor %}
</div>
