{% extends "::base.html.twig" %}

{% block title %}AppBundle:Post:new{% endblock %}

{% block body %}
<h1>Welcome to the Post:new page</h1>

    {% include 'AppBundle:Post:form.html.twig' %}

{% endblock %}
