{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    New post {{ parent() }}
{% endblock %}

{% block body %}
<h1>Welcome to the Post:new page</h1>

    {% include 'AppBundle:Post:form.html.twig' %}

{% endblock %}
