{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body %}
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ path('post_show', {'slug': post.slug, 'username': username}) }}">
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
