{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}
    {{ username }} {{ parent() }}
{% endblock %}

{% block body %}
    <div class="list-group">
        {% for post in posts %}
                <a
                        href="{{ path('post_show', {'slug': post.slug, 'username': username}) }}"
                        class="list-group-item"
                >
                    {{ post.title }}
                </a>
        {% endfor %}
    </div>
{% endblock %}
